/* Base Styles ******************************/

* {
  box-sizing: border-box;
}

body {
  background-color: #CEEBF7;
  margin: 0 auto;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

p {
  fornt-size: .95em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  text-align: center;
}


h2 {
  color: #093a58;
  margin-top: 0;
}

/* Main Styles --------------------- */

/* Navigation ---------------------- */

.name {
  font-size: 1.35em;
  margin: 0;

}
.name a {
  color: #093a58;
}

.name a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

.main-nav {
  padding: 10px 0;
  color: blue;
}

.main-nav a {
  font-size: .95em;
  display: block;
  padding: 10px 15px;
  color: #44b5e6;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: #093a58;
}


/* Layout Container ---------------- */

.banner {
  text-align: center;
}

.main-header {
  padding-top: .5em;
}

.headline {
  font-size: 2.2rem;
  color: red;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 2px 2px 1px rgba(0,0,0, .8);
  margin: 12px 0 0;
  font-family: serif;
}

.container {
    font-family: serif;
		max-width: 1150px;
		margin: 0 auto;
    flex: 1;
}

.banner {
  margin-bottom: 30px;
  padding-top: 250px;
  height: 350px;
  background: linear-gradient(to top, white, transparent), url(../img/kids-on-bikes.jpg);
  background-position: 0 30%;
  background-size: cover;
  background-repeat: no-repeat;
}

.col {
  padding-right: 1em;
  padding-left: 1em;
}

.primary {
  margin: 20px 0;

}

.image {
  max-width: 100%;
  width: 190px;
  box-shadow: 10px 15px 10px rgba(0,0,0, .8);
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.logo {
  text-align: center;

}

.social-icon  {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.main-footer a {
  color: #44b5e6;
}

.main-footer a:hover {
  color: #093a58;
}

.main-footer p {
  margin: 0;
}

.btt {
  margin-top: 1em;
}

.main-footer {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 10px solid #44b5e6;
  text-align: center;
  font-family: serif;
  background-color: lightblue;
}

/*************************************
Get_involved Page
*************************************/

.get-title h1 {
  text-align: center;
  margin-bottom: 0;
}

.donate {
  align-self: center;
  padding-bottom: 20px;
}

.volunteer {
  max-width: 100%;
  width: 250px;
  box-shadow: 10px 15px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}

.get-col3 {
  padding-top: 20px;
}

.get-col3 p {
  text-align: left;
}

/*************************************
FAQ Page
*************************************/

.links {
  line-height: 1.2em;
  padding: 10px 0;
  padding: 0 5%;
}

.links a {
  padding: 10px 0;
  font-size: .9em;
}

.links a:hover {
  color: red;
}

.q-wrapper {
  padding: 20px 5%;
}

/*************************************
About Page
*************************************/

.ron h2,
.joe h2 {
  padding-top: 10px;
  text-align: center;
}

.ron,
.joe {
  text-align: center;
}

.pics {
  max-width: 100%;
  width: 300px;
  box-shadow: 10px 15px 10px rgba(0,0,0, .8);
  border-radius: 10px;
  text-align: center;
}

.a-col1 {
  padding-left: 1em;
  padding-right: 1em;
}

.a-col2 {
  padding-left: 1em;
  padding-right: 1em;
}

/*************************************
Contact Page
*************************************/

.c-col {
  padding: 0 5%;
  text-align: center;
}

.c-col p {
  margin: 0;
}

.c-col img {
  max-width: 100%;
}

.map {
  padding: 30px 5%;
  text-align: center;
  margin: 0;
}

.email a {
  padding: 10px 20px 10px 0;
}

.email {
  padding-left: 10px;
}

.phone a {
  padding: 10px 30px;
}

.directions a {
  padding: 10px;
  padding-right: 30px;
  padding-left: 0;
}

.directions {
  padding-left: 30px;
}

.facebook {
  padding-top: 20px;
}

.facebook a {
  padding: 15px 0;
}

.c-wrapper {
  padding-bottom: 10px;
}

.c-wrapper h2,
.c-wrapper h3 {
  margin-bottom: 10px;
}

/* Media Queries --------------------- */

@media (min-width: 768px) {

  p {
    font-size: 1.1em;
  }

  .main-header,
  .container {
    width: 90%;
    margin: 0 auto 20px;
  }

  .main-header,
  .main-nav,
  .container {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .col {
    flex: 1;
    flex-basis: 50%
  }

  .container {
    flex-wrap: wrap;
  }

  .third {
    order: -1;
  }

  /*************************************
  About Page
  *************************************/

  .a-wrapper {
    max-width: 1300px;
  }

  .pic-h2 {
    float: left;
    width: 50%;
    padding-bottom: 20px;
  }

  .ron-p,
  .joe-p {
    float: right;
    width: 50%;
    font-size: .9em;
  }

  /*************************************
  Contact Page
  *************************************/

  .c-col {
    width: 40%;
    margin: 0 2.5%;
    font-size: .9em;
  }


  .address {
    float: left;
    padding-top: 30px;
  }

  .map {
    float: right;
    width: 50%;
  }

}




@media (min-width: 1100px) {

  body {
    padding-top: 70px;
  }

  .container {
    width: 95%;
    max-width: 1150px;
  }

  .main-header {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #CEEBF7;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
    top: 0;
  }

  .col {
    flex-basis: 0;
  }

  .logo-mission {
    flex-grow: 1.4;
  }

  /*************************************
  FAQ Page
  *************************************/

  .faq-mh {
    position: absolute;
  }

  .get-col3 {
    order: -1;
    padding-top: 0;
  }

  /*************************************
  About Page
  *************************************/

  .ron-p,
  .joe-p {
    padding-top: 40px;
  }


}


/*************************
clearfix
**************************/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
